{% extends 'FrontendBundle::layout.html.twig' %}
{% block css  %}

{% endblock css %}
{% block content %}
<section class="page-content">
	<div class="container short">
		<div class="single">	
			<h1 class="page-title">Titolo dell'avviso</h1>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="text-center">
						testo dell'avviso
							<script type="text/javascript">
								setTimeout(function(){
									{% if redirect is not null %}
										window.location.href = "{{ redirect }}";
									{% else %}
										window.location.href = "{{ path('frontend_default_index') }}";
									{% endif %}
								}, 5000);
							</script>
							<br /><br />
							<i style="font-size: 30px; color: #999;" class="fa fa-spinner fa-spin"></i>
						
					</div>
				</div><!-- .col -->
			</div><!-- .row -->
		</div>
	</div>
</section>
{% endblock content %}
{% block srcjavascript  %}

{% endblock srcjavascript  %}
{% block javascript  %}

{% endblock javascript %}
